<html ng-app="priceMonitor">
<head>
    <title>
        Login Page
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="application/javascript">
        angular.module('priceMonitor', [])
                .controller('PriceController', function ($http, $scope, $rootScope) {
                    var priceController = this;
                    priceController.socket = io('http://127.0.0.1:3333');
                    priceController.products = [];
                    priceController.subscribeData = {userId: '', subscribe: []};
                    priceController.socket.on("connect", function () {
                        console.log("Connected to server!");
                    });
                    priceController.socket.on("disconnect", function () {
                        console.log("Disconnected from server!");
                    });
                    priceController.login = function () {
                        priceController.subscribeData.userId = priceController.user.name;
                        priceController.socket.emit('addUser', {userId: priceController.user.name});
                        console.log('UserId : ' +  priceController.subscribeData.userId);
                        $http({
                            method: 'GET',
                            url: 'http://127.0.0.1:3333/users/' + priceController.user.name,
                            data: priceController.user
                        }).then(function successCallback(response) {
                            console.log('Response : ' + JSON.stringify(response.data));
                            priceController.products = response.data.products;
                        }, function errorCallback(response) {
                            //console.log('Error: ' + response.error);
                        });
                    };
                    priceController.subscribe = function(){
                        console.log('Subcribe : '+JSON.stringify(priceController.subscribeData));
                        //console.log('Subcribe : '+ priceController.subscribeData);
                    };
                });
    </script>
</head>
<body>
<div ng-controller="PriceController as priceController">
    <div>
    <form ng-submit="priceController.login()">
        <div>
            <div>
                <label>
                    Username
                </label>
                <input type="text" ng-model="priceController.user.name">
            </div>
            <div>
                <label>
                    Password
                </label>
                <input type="password" ng-model="priceController.user.password">
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </div>
    </form>
    </div>
    <div>
        <form ng-submit="priceController.subscribe()">
        <table>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Subcription
                </th>
            </tr>
            <tr ng-repeat="product in priceController.products">
                <td>
                    <!-- <input type="text" ng-value="product.id" ng-bind="priceController.subscribeData.subscribe[$index].productId" disabled> -->
                    {{ product.name }}
                </td>
                <td>
                    <!-- <input type="text" ng-value="product.price" ng-bind="priceController.subscribeData.subscribe[$index].productPrice" disabled> -->
                    {{ product.price }}
                </td>
                <td>
                    <select name="subcription" ng-model="priceController.subscribeData.subscribe[$index].when">
                    <option value="" checked> ---Please Select---<br>
                    <option value="always"> ALWAYS<br>
                    <option value="alltimelow"> ALL_TIME_LOW<br>
                    <option value="morethanten"> MORE_THAN_10<br>
                    </select>
                </td>
                <td>
                  <!--  <input type="submit" value="Subscribe"> -->
                </td>
            </tr>
        </table>
            <input type="submit" value="Subscribe">
        </form>
    </div>
    <div>
        {{ priceController.subscribeData }}
    </div>
    <div>
        {{priceController.subscribe}}
    </div>
</div>
</body>
</html>