<html ng-app="priceMonitor">
<head>
    <title>
        Login Page
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="application/javascript">
        angular.module('priceMonitor', [])
                .controller('PriceController', function ($http, $scope, $rootScope) {
                    var priceController = this;
                    priceController.products = [];
                    priceController.login = function () {
                        $http({
                            method: 'GET',
                            url: 'http://127.0.0.1:3050/users/' + priceController.user.name,
                            data: priceController.user
                        }).then(function successCallback(response) {
                            console.log('Response : ' + JSON.stringify(response.data));
                            priceController.products = response.data.products;
                        }, function errorCallback(response) {
                            //console.log('Error: ' + response.error);
                        });
                    };
                });
    </script>
</head>
<body>
<div ng-controller="PriceController as priceController">
    <div>
    <form ng-submit="priceController.login()">
        <div>
            <div>
                <label>
                    Username
                </label>
                <input type="text" ng-model="priceController.user.name">
            </div>
            <div>
                <label>
                    Password
                </label>
                <input type="password" ng-model="priceController.user.password">
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </div>
    </form>
    </div>
    <div>
        <table>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
            </tr>
            <tr ng-repeat="product in priceController.products">
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>